.section1-container {
    max-width: 85%;
h3 {
    font-weight: 200;
}
    .section1-container-title {
        .section1-container-title-link {
            line-height: 24px;
            text-align: center;
            overflow: hidden;
            margin-bottom: 15px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
            display: inline-block;
            position: relative;
            font-size: 18px;
            font-weight: 200 !important;
            line-height: 36px;
            text-transform: uppercase;
            color: #15a69d;
            vertical-align: middle;
            text-decoration: none;
            box-sizing: border-box;
            background-color: rgb(235 231 231);
            height: 30px;
            width: 85%;

            h3:before {
                right: 100%;
                margin-right: 15px;
                content: "";
                position: absolute;
                height: 1px;
                width: 1000px;
                border-top: 1px dashed #15a69d;
                top: 18px;
            }

            h3:after {
                left: 100%;
                margin-left: 15px;
                content: "";
                position: absolute;
                height: 1px;
                width: 1000px;
                border-top: 1px dashed #15a69d;
                top: 18px;
            }
        }

    }

    .section1-list-hot-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;


        &__product-hot-grp {}

        &__list-product {}

        &__product:hover {
            transition: all 0.3s ease;
            transform: scale(1.12);
        }

        &__product {
            padding: 10px 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            cursor: pointer;

            img {
                height: 240px;
                max-width: 290px;
                width: 100%;
                object-fit: cover;
            }
        }

        &__product-name {
        }

        &__product-price {
            font-size: 16px;
            font-weight: 600;
        }

        &__btn-shopping {
            button {
                width: 160px;
                height: 42px;
                border: 1px solid black;
                border-radius: 30;
                background-color: #f7eee8;
            }

            button:hover {
                border: 1px solid black !important;
                color: black !important;
                background-color: #fcefe7;
                transition: all 0.3s ease-in;
            }

            span {
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }

    h4 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
        text-align: center;
        padding: 0 15px;
        text-transform: uppercase;
        line-height: 24px;
        transition: all .45s ease;
        color: brown;
        line-height: 24px;

    }
}