.product-card-wrapper {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.product-card {
  &__img {
    img {
      width: 140px;
      height: 140px;
      object-fit: cover;
    }

    
  }
&__img :hover { cursor: pointer	}
  &__name {
    p {
      cursor: pointer;
      font-size: 16px;
    }
  }

  &__name:hover {
    p {
      cursor: pointer;
      color: #b37e6b;
      text-decoration:none;
      transform: scale(1.1);
      transition: all 0.5s ease;
    }
  }

  &__price {
    p {
      font-size: 16px;
      font-weight: 700;
    }
  }
}

p {
  padding: 5px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
