.list-product {
  display: flex;
  &__filter {
        line-height: 2;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    left: 50px;
    width: 100%;
    height: 100%;
 &-price {
  ul {
    list-style: none;
  }
  
 }
    &-grp {
      display: flex;
      justify-content: right;
      gap: 20px;

    }
  }

  &__content {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
left: 80px;
    &-items {}

    &-pagination {
      display: flex;
      justify-content: center;
    }
  }


}