.App {
  font-family: math;
}

html {
  scroll-behavior: smooth;
}
.d-flex {
  display: flex;
}
.gap-3 {
  gap: 30px;
}
@media screen and (max-width: 500px) {
  .mobile_none {
    display: none;
  }
}
